* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    letter-spacing: 2px;
}

body {
    background-color: #000f1a;
}

/* NavBar */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #33a1f0;
    font-size: 34px;
    font-weight: 700;
    height: 70px;
    box-shadow: 0 0 20px 5px #333333;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: .6em;
    font-weight: 100;

}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #33a1f0;
    text-decoration: underline;
}

/* Hero Section */

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 36px;
    color: #fff;
}

.hero-intro {
    position: relative;
    top: 70px;
}

.hero span {
    color: #33a1f0;
    font-weight: 700;
}

.role {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #fffdfd, #005897);
    -webkit-background-clip: text;
    color: transparent;
}

.hero .main-skills {
    margin-top: 20px;
    font-size: 20px;
    color: #b8b8b8;
}

.hero_img {
    height: 400px;
    width: 400px;
}


.hero_img img {
    position: relative;
    z-index: 1;
}

.img_uline {
    height: 8px;
    width: auto;
    background-color: #33a1f0;
    border-radius: 8px;
    position: relative;
    top: -15px;
    z-index: 2;
}

/* Button Style */

.btn {
    padding: 12px;
    border: 2.5px solid #33a1f0;
    border-radius: 20px;
    background: linear-gradient(90deg, #a5a5a5, #005897);
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    box-shadow: 0 0 20px 5px #33a1f0;
    background-color: #33a1f0;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.hero-btn {
    margin-top: 20px;
}

.social-links {
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    gap: 20px;
}

/* About Section */

.about {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    gap: 250px;
}

.about-img img {
    border-radius: 18px;
    box-shadow: 0 0 20px 5px #33a1f0;
}

.about-intro {
    width: 400px;
}

.about-intro p {
    margin-top: 20px;
    font-size: 18px;
    color: #b8b8b8;
}

.about-intro-btn {
    margin-top: 20px;
}

/* Skills Section */

.skills {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills h2 {
    text-decoration: underline;
    margin: 0 0 20px 0;
    color: #fff;
    font-size: 30px;
}

.skills-list {
    display: flex;
    gap: 40px;
}

/* Projects Section */

.projects {
    margin: 150px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #00090f;
    padding: 40px 20px;
    border-radius: 24px;

}

.projects h2 {
    text-decoration: underline;
    margin-bottom: 50px;
    font-size: 30px;
    color: #fff;
}

.projects p {
    color: #fff;
    margin: 10px 0 10px 0;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;

}

.project1 {
    text-align: center;
    width: 200px;
    background-color: #00090f;
    border-radius: 25px;
    box-shadow: 0 0 35px 3px #33a1f0;
    padding: 15px;
    transition: 0.5s;
}

.project1:hover {
    transform: scale(1.05);
}



.view-project-btn {
    margin-top: 50px;
}

/* COntact Section */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00090f;
    width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 24px;
    margin-top: 150px;
    color: #fff;

}

.contact h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.input {
    background: none;
    padding: 5px;
    font-size: 25px;
    border: 2px Solid #005897;
    border-radius: 25px;
    color: #fff;
}



/* Footer Section */
footer {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: #fff;
    background-color: #000;
}

@media (max-width: 1210px){


    .cards{
        gap: 50px;
    }
}

@media (max-width: 990px){
    
    .project1{
        width: 150px;
    }

    .project1 img{
        width: 100px;
    }

}

@media (max-width:790px){
    .cards :nth-child(3){
        display: none;
    }

    .about{
        gap: 100px;
        margin: 200px 30px 0 30px;

    }
}

@media (max-width:630px){

    .hero_img{
        height: 300px;
        width: 300px;
    }

    .hero_img img{
        height: 300px;
        width: 300px;
    }

    .about{
        margin-top: 100px;
    }

    .about-img{
        display: none;
    }

    .hero {
        flex-direction: column;
        padding: 20px;
    }
    
    .hero_img {
        margin-top: 30px;
    }

    .img_uline {
        margin: 0 20px;
        width: 300px;
    }

    .contact{
        width: 300px;
    }

    
}

@media (max-width: 470px) {
    
    ul {
        display: none;
    }

    .cards{
        flex-direction: column;
    }

    .projects{
        padding: 40px 5px;
        margin: 150px auto 0 auto;
        width: 300px;
    }
}

@media (max-width: 419px) {
    
    .input {
        font-size: 18px;
    }  
    

    .contact{
        width: 250px;
        padding: 20px;
    }

    .contact h2{
        font-size: 24px;
    }

    .icon{
        width: 60px;
    }
    
    .skills-list{
        gap: 20px;
    }
}

@media (max-width: 375px) {

    .about-img {
        display: none;
    }

    .about {
        padding: 20px;
    }

    .about-intro{
        width: 280px;
    }

    

    .contact{
        width: 250px;
        padding: 20px;
    }

}